.section {
    padding: 120px 10%;
    background: #0E051F;
}

.dark-section {
    background: #160A30;
}

.section-tag {
    color: #6D5EF5;
    font-size: 14px;
    letter-spacing: 3px;

    display: block;
    margin-bottom: 20px;
}

.section-title {
    font-size: 48px;
    margin-bottom: 35px;
    color: #F5F2FF;
}

.section-text {
    font-size: 22px;
    line-height: 2;
    color: #B5A9DE;
    max-width: 900px;
}

.page-hero {
    min-height: 55vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 160px 30px 80px;

    background:
        radial-gradient(
            circle at top right,
            rgba(109, 94, 245,.20),
            transparent 40%
        ),
        #06031D;
}

.page-tag {
    color: #A79EF8;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.page-hero h1 {
    font-size: 56px;
    margin-bottom: 25px;
    color: #FFFFFF;
}

.page-hero p {
    max-width: 700px;
    font-size: 22px;
    line-height: 1.8;
    color: rgba(255, 255, 255,.75);
}
