.page-hero {
    min-height: 55vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 160px 30px 80px;

    background:
        radial-gradient(
            circle at top right,
            rgba(109, 94, 245,.20),
            transparent 40%
        ),
        #06031D;
}

.page-tag {
    color: #A79EF8;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.page-hero h1 {
    font-size: 56px;
    margin-bottom: 25px;
    color: #FFFFFF;
}

.page-hero p {
    max-width: 700px;
    font-size: 22px;
    line-height: 1.8;
    color: rgba(255, 255, 255,.75);
}

.contact-links {
    max-width: 700px;
    margin: auto;
    padding: 120px 30px;
    background: #0E051F;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-btn {
    background: #1E103F;
    border: 1px solid rgba(109, 94, 245, 0.15);
    border-radius: 25px;

    min-height: 120px;
    padding: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    text-decoration: none;
    color: #F5F2FF;

    box-shadow: 0 2px 20px rgba(109, 94, 245, 0.07);
    transition: .3s;
}

.contact-btn:hover {
    transform: translateY(-8px);
    border-color: #6D5EF5;
    box-shadow: 0 10px 40px rgba(109, 94, 245, 0.15);
}

.contact-btn h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #F5F2FF;
}

.contact-btn p {
    color: #998CC4;
    font-size: 18px;
}
