.page-hero {
    min-height: 55vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 160px 30px 80px;

    background:
        radial-gradient(
            circle at top right,
            rgba(109,94,245,.20),
            transparent 40%
        ),
        #03061D;
}

.page-tag {
    color: #6D5EF5;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.page-hero h1 {
    font-size: 56px;
    margin-bottom: 25px;
}

.page-hero p {
    max-width: 700px;
    font-size: 22px;
    line-height: 1.8;
    color: #d7d7d7;
}

.section {
    padding: 120px 8%;
}

.cards {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(300px, 1fr));

    gap: 30px;
}

.card {
    background: rgba(255,255,255,.05);

    border: 1px solid
            rgba(255,255,255,.08);

    border-radius: 25px;

    padding: 45px 35px;

    backdrop-filter: blur(15px);

    transition: .3s;
}

.card:hover {
    transform: translateY(-10px);

    border-color: #6D5EF5;
}

.icon {
    font-size: 42px;
    margin-bottom: 25px;
}

.card h3 {
    font-size: 28px;
    margin-bottom: 18px;
}

.card p {
    color: #d1d5db;
    line-height: 1.9;
    font-size: 18px;
}